AucADF/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "AucADF"
		},
		"fp_staging_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'fp_staging'"
		},
		"AzureKeyVaultAuc_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://AucPetKeyVault.vault.azure.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/direct GET token')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://eu.api.blizzard.com/data/wow/token/?namespace=dynamic-eu",
							"method": "GET",
							"headers": {
								"Authorization": "Bearer EUGmWlrL0C4AMsaQdMR71PILoE4Ha4UxUt"
							},
							"body": "grant_type=client_credentials&client_id=$clientId&client_secret=kahP2k65BVoz77OxQb25wy6BN5OTCHeS"
						}
					},
					{
						"name": "Set timestamp",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Web1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "last_updated_time",
							"value": {
								"value": "@string(activity('Web1').output.last_updated_timestamp)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set token price",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set timestamp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "tokenprice",
							"value": {
								"value": "@string(activity('Web1').output.price)",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"last_updated_time": {
						"type": "String"
					},
					"lt": {
						"type": "Array"
					},
					"tokenprice": {
						"type": "String"
					}
				},
				"folder": {
					"name": "draft and test"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get DevelopClientId",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://aucpetkeyvault.vault.azure.net/secrets/AuthClientCode/2d9a08da64454230bc534bf10d79fd7b",
							"method": "GET",
							"headers": {},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Store ClientId",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get DevelopClientId",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "ClientId",
							"value": {
								"value": "@activity('Get DevelopClientId').output.value",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"ClientId": {
						"type": "String"
					}
				},
				"folder": {
					"name": "draft and test"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/string_casts')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "simple_utcnow",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Append variable1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "timestamp",
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							}
						}
					},
					{
						"name": "utc-to-yyyyMMdd-hhmmss",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "timestamp",
							"value": {
								"value": "@formatDateTime(addToTime(utcnow(),4, 'Hour'), 'yyyyMMdd-HHmmss')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "build-right-link",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "simple_utcnow",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "JsonSURL",
							"value": {
								"value": "@replace(variables('BlobSASURL'), '/tokenjson?', concat('/tokenjson/wowTokenPriceEu_', formatDateTime(utcnow(), 'yyyymmdd-hhmmss'), '.json?'))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Append variable1",
						"type": "AppendVariable",
						"dependsOn": [
							{
								"activity": "utc-to-yyyyMMdd-hhmmss",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "DaTimeArray",
							"value": {
								"value": "@formatDateTime(utcnow(), 'yyyyMMdd-HHmmss')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"timestamp": {
						"type": "String"
					},
					"BlobSASURL": {
						"type": "String",
						"defaultValue": "https://aucsa.blob.core.windows.net/tokenjson?sp=racw&st=2022-08-11T12:38:31Z&se=2022-09-11T20:38:31Z&spr=https&sv=2021-06-08&sr=c&sig=3YiB7TBZ3fQLe29kN2SP%2FPUBL4YHbe9kreutkLQodtU%3D"
					},
					"JsonSURL": {
						"type": "String"
					},
					"DaTimeArray": {
						"type": "Array"
					}
				},
				"folder": {
					"name": "draft and test"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVaultAuc')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVaultAuc_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/fp_staging')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('fp_staging_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WoW Token to Blob')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "token request",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://eu.battle.net/oauth/token",
							"method": "POST",
							"headers": {
								"grant-type": "client_credentials",
								"content-type": "application/x-www-form-urlencoded"
							},
							"body": "grant_type=client_credentials",
							"authentication": {
								"type": "Basic",
								"username": "3744a5c5d4ca4731a2abdbc8ec12f05f",
								"password": {
									"type": "AzureKeyVaultSecret",
									"store": {
										"referenceName": "AzureKeyVaultAuc",
										"type": "LinkedServiceReference"
									},
									"secretName": "AuthClientCode"
								}
							}
						}
					},
					{
						"name": "If Not Expired",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "token request",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greaterOrEquals(activity('token request').output.expires_in,1)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Set variables IF NOT",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "access_token",
										"value": {
											"value": "@string(activity('token request').output.token_type)",
											"type": "Expression"
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Store AccessToken",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "access_token",
										"value": {
											"value": "@activity('token request').output.access_token",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Get WoWToken Data",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Store AccessToken",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": "https://eu.api.blizzard.com/data/wow/token/?namespace=dynamic-eu",
										"method": "GET",
										"headers": {
											"Authorization": {
												"value": "@string(concat('Bearer ', variables('access_token')))",
												"type": "Expression"
											}
										},
										"body": "grant_type=client_credentials&client_id=$clientId&client_secret=kahP2k65BVoz77OxQb25wy6BN5OTCHeS",
										"httpRequestTimeout": "00:05:00"
									}
								},
								{
									"name": "Store TokenPrice",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Get WoWToken Data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "token_price",
										"value": {
											"value": "@string(activity('Get WoWToken Data').output.price)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Store TimeStamp",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Get WoWToken Data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "last_updated_time",
										"value": {
											"value": "@string(activity('Get WoWToken Data').output.last_updated_timestamp)\n",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Save Output to Blob",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Get WoWToken Data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "@replace(variables('BlobSASURL'), '/tokenjson?', concat('/tokenjson/wowTokenPriceEu_', formatDateTime(utcnow(), 'yyyyMMdd-HHmmss'), '.json?'))",
											"type": "Expression"
										},
										"method": "PUT",
										"headers": {
											"x-ms-blob-type": "BlockBlob"
										},
										"body": {
											"value": "@activity('Get WoWToken Data').output",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"last_updated_time": {
						"type": "String"
					},
					"access_token": {
						"type": "String"
					},
					"token_price": {
						"type": "String"
					},
					"BlobSASURL": {
						"type": "String",
						"defaultValue": "https://aucsa.blob.core.windows.net/tokenjson?sp=racw&st=2022-08-11T12:38:31Z&se=2022-09-11T20:38:31Z&spr=https&sv=2021-06-08&sr=c&sig=3YiB7TBZ3fQLe29kN2SP%2FPUBL4YHbe9kreutkLQodtU%3D"
					},
					"DaTimeArray": {
						"type": "Array"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVaultAuc')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/STG_dboSchema')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "fp_staging",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "originalTimeWindow",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "measureCount",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "tokenPrice",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "YMD",
						"type": "int",
						"precision": 10
					},
					{
						"name": "aggTimeCheck",
						"type": "time",
						"scale": 7
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TokenPrice"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/fp_staging')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/STG_stgSchema')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "fp_staging",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "WindowEndTime",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "cnt",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "averageprice",
						"type": "decimal",
						"precision": 12,
						"scale": 2
					},
					{
						"name": "min_time_win",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "max_time_win",
						"type": "datetime2",
						"scale": 7
					}
				],
				"typeProperties": {
					"schema": "stg",
					"table": "JsonInput_short"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/fp_staging')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/STG_dboSchema_test')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "fp_staging",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "originalTimeWindow",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "measureCount",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "tokenPrice",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "YMD",
						"type": "int",
						"precision": 10
					},
					{
						"name": "aggTimeCheck",
						"type": "time",
						"scale": 7
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TokenPrice_test"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/fp_staging')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Every15minutes')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "WoW Token to Blob",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 15,
						"startTime": "2022-08-12T12:00:00",
						"timeZone": "FLE Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/WoW Token to Blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Move price to dbo')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "STG_stgSchema",
								"type": "DatasetReference"
							},
							"name": "StagingStg"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "STG_dboSchema_test",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						},
						{
							"name": "select1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          WindowEndTime as timestamp,",
						"          cnt as integer,",
						"          averageprice as decimal(12,2),",
						"          min_time_win as timestamp,",
						"          max_time_win as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> StagingStg",
						"StagingStg derive(tokenPrice_calc = toDecimal(divide(cnt, 10000), 10, 2),",
						"          YMD_cal = toInteger(toString(toDate(WindowEndTime),'yyyyMMdd'))) ~> derivedColumn1",
						"derivedColumn1 select(mapColumn(",
						"          originalTimeWindow = WindowEndTime,",
						"          measureCount = cnt,",
						"          tokenPrice = averageprice,",
						"          tokenPrice2 = tokenPrice_calc,",
						"          YMDint = YMD_cal",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          originalTimeWindow as timestamp,",
						"          measureCount as integer,",
						"          tokenPrice as decimal(10,2),",
						"          YMD as integer,",
						"          aggTimeCheck as timestamp",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/STG_stgSchema')]",
				"[concat(variables('factoryId'), '/datasets/STG_dboSchema_test')]"
			]
		}
	]
}